{% extends 'catalog/base.html' %}

{% block content %}
    <main role="main">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data" class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4 ml-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Подтвердите электронную почту
                            </h3>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success" type="submit">
                                Подтвердить
                            </button>
                            <a href="{% url 'users:login' %}" class="btn btn-danger">Отмена</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
    </main>
{% endblock %}