{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}

<h1 class="display text-center mt-4">{{ object.title }} ({{ object.slug }})</h1>

<img src="{{ object.preview|mediapath }}" width="600" height="520" alt="Изображение отсутствует">


<div class="container">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p>{{ object.content }}</p>
            <ul class="list-unstyled mt-3 mb-2 text-start m-2">
                <li>- Создан {{ object.created_at }}</li>
                <li>- Количество просмотров: {{ object.views_count }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}