{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<main role="main">
    <div class="col-12">
        <div class="container px-5 py-5 pt-md-5 pb-md-5 mx-auto text-center">
            <a href="{% url 'create' %}" class="btn btn-sm btn-outline-primary " >Добавить запись</a>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            {% for object in object_list %}
            <div class="card mb-4 mr-5" style="width: 20rem;">
                <img src="{{ object.preview|mediapath }}" width="600" height="520" alt="Изображение отсутствует">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.content|truncatechars:100 }} </p>
                    <a href="{% url 'view' object.pk %}" class="btn btn-sm btn-outline-primary" role="button">Посмотреть</a>
                    <a href="{% url 'update' object.pk %}" class="btn btn-sm btn-outline-primary">Изменить</a>
                    <a href="{% url 'delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                </div>
                <a class="btn btn-warning" href="{% url 'toggle_activity' object.pk %}">Снять публикацию</a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}