{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            {% for version in queryset %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ version.name_version }}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">{{ version.product_version }}</h5>
                    <a href="{% url 'product_version_detail' product_version object.pk %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}